body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
}
p+img{
    width: 35%;
}
@media all and (min-width:764px) and (max-width:1024px){
    body{
        grid-template-columns: repeat(3,1fr);
    }
}
@media all and (min-width:100px) and (max-width:763px){
    body{
        grid-template-columns: repeat(2,1fr);
    }
}